body {
    background-color: rgb(209, 208, 208);
}

nav {
    font-weight: 900;
}

h1 {
    font-size: 2.5em;
    color: teal;
    background-color: white;
    margin-left: .5em;
}

p {
    font-size: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.index_image {
    width: 40%;
}

.visualizations {
    background-color: white;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 3mm;
}

h2 {
    text-align: left;
    font-size: 1.5em;
    color: teal;
    margin-left: .5em;
    margin-right: 1em;
}

h3 {
    background-color: teal;
    color: white;
    font-size: 2em;
    margin-top: 1mm;
    margin-bottom: 1mm;
}

.content {
    background-color: white;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 3mm;
}

.content p {
    font-size: 1em;
}

.link_image {
    width: 100%;
}

hr {
    margin-left: 1em;
    margin-right: 1em;
}

.analysis {
    font-size: 1.5em;
    color: rgb(88, 87, 87);
}

.compare {
    background-color: white;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2mm;
    width: 80%;
}

.compare_image {
    width: 450px;
    flex-wrap: wrap;
    position: relative;
}

.table {
    margin-left: 1em;
    margin-right: 5em;
}

.data-content {
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 3mm;
    width: inherit;
}

.data-content p {
    font-size: 1em;
}

.tg {
    word-break: break-all;
    table-layout: fixed;
    margin-right: 3em;
}

.compare-headers {
    color: teal;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0em;
    margin-top: 0em;
}

.compare-head {
    font-size: 1em;
}